<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBb9U3j-P75tVx6QlEnkN6AO1WALSc7vjg</string>
	<key>GCM_SENDER_ID</key>
	<string>648547438111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gihyun.tinymatch</string>
	<key>PROJECT_ID</key>
	<string>tinymatch-148ef</string>
	<key>STORAGE_BUCKET</key>
	<string>tinymatch-148ef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648547438111:ios:c31056483a92e5a85c8f2a</string>
	<key>DATABASE_URL</key>
	<string>https://tinymatch-148ef-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>